:host {
  position: absolute;
  height: 100%;
  width: 100%;
}

.nsfw-background {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-size: cover;
  font-size: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  display: flex;
  text-shadow: 1px 1px 5px #24292e;
}
