:host {
  color: black;
}

.mat-mdc-card-title, .mdc-card__actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.link {
  cursor: pointer;
  font-weight: bolder;
}
