<mat-card>
  <mat-card-header>

    <img *ngIf="linkData | getThumbnailImageUrl as thumbnailImage"
         mat-card-avatar [src]="thumbnailImage" class="card-thumbnail"
         [height]="40" [width]="40" [alt]="linkData?.data?.thumbnail"/>

    <mat-card-title>
      <span class="title">{{linkData?.data?.title}}</span>
    </mat-card-title>

    <mat-card-subtitle class="subtitle-container"
                       [style.color]="linkData?.data?.link_flair_background_color"
                       [style.border-color]="linkData?.data?.link_flair_background_color">
      <span class="subtitle" *ngIf="linkData?.data?.link_flair_text">
        {{linkData?.data?.link_flair_text | cleanCategory}}
      </span>
      <ng-container *ngIf="linkData?.data?.thumbnail | isNSFW">
        <span class="subtitle nsfw">{{linkData?.data?.thumbnail}}</span>
      </ng-container>
    </mat-card-subtitle>

  </mat-card-header>

  <ng-container *ngIf="!(linkData | isVideo) && !(linkData?.data?.url | isRedditGallery)">
    <ng-container *ngIf="!(linkData?.data?.thumbnail | isNSFW) || !showBackGroundNSFW; else nsfwImage">
      <pinch-zoom>
        <img mat-card-image class="media-card" [src]="linkData?.data?.url" alt=""
             (load)="reloadMasonryLayout()">
      </pinch-zoom>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="linkData?.data?.url | isRedditGallery">
    <ng-container *ngIf="!(linkData?.data?.thumbnail | isNSFW) || !showBackGroundNSFW; else nsfwImage">
      <div mat-card-image>
        <mat-carousel timings="250ms ease-in"
                      [autoplay]="false"
                      color="primary"
                      maxWidth="auto"
                      [slides]="(linkData | getGalleryData)?.items?.length"
                      [loop]="true"
                      [hideArrows]="false"
                      [hideIndicators]="true"
                      [useKeyboard]="true"
                      [useMouseWheel]="false"
                      orientation="ltr">
          <mat-carousel-slide #matCarouselSlide
                              *ngFor="let slide of (linkData | getGalleryData)?.items; let i = index"
                              overlayColor="#00000040"
                              [hideOverlay]="false">
            <pinch-zoom>
              <img alt="" [src]="(linkData | getGalleryMediaMetadata)[slide?.media_id]?.s?.u | cleanUrl"
                   (load)="reloadMasonryLayout()">
            </pinch-zoom>
          </mat-carousel-slide>
        </mat-carousel>
      </div>
    </ng-container>
  </ng-container>

  <ng-template #nsfwImage>
    <img mat-card-image class="media-card" [src]="linkData | getImageUrl" alt=""
         (load)="reloadMasonryLayout()"
         (click)="toggleBackGroundNSFW(false); imageNSFWCountdown()">
    nsfw
  </ng-template>

  <ng-container *ngIf="linkData | isVideo">
    <div mat-card-image class="media-card">
      <vg-player [style.z-index]="0">
        <video [vgMedia]="$any(media)" #media
               (canplay)="reloadMasonryLayout()"
               (ended)="toggleBackGroundNSFW(true)"
               (pause)="toggleBackGroundNSFW(true)"
               id="singleVideo" preload="auto" controls class="reddit-video">
          <source [src]="linkData | getVideoFallbackUrl" type="video/mp4">
        </video>
      </vg-player>
      <app-nsfw-content *ngIf="showBackGroundNSFW" [linkData]="linkData"
                        (click)="toggleBackGroundNSFW(false); media.play()">
      </app-nsfw-content>
    </div>
  </ng-container>

  <mat-card-content>
    <ng-container *ngIf="linkData?.data?.url && !(linkData?.data?.domain | isRedditDomain) && !(linkData?.data?.url | isRedditGallery)">
      <a [href]="linkData?.data?.url" target="_blank" class="card-link">{{linkData?.data?.url}}</a>
    </ng-container>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button (click)="goToSource()">LINK ON POST</button>
    <!--<button mat-button>SHARE</button>-->
  </mat-card-actions>
</mat-card>
