@use '@angular/material' as mat;
@import "src/theme/material-theme";

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: mat.get-color-from-palette($primary-palette, '100-contrast');
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.newsfeed {
  width: 100%;
}

.spacer {
  flex: 1;
}

@mixin toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  background-color: mat.get-color-from-palette($primary-palette, 'default');
  color: mat.get-color-from-palette($primary-palette, 'default-contrast');
}

.toolbar {
  @include toolbar;
  height: 60px;

  img {
    margin: 0 16px;
  }

  #twitter-logo {
    height: 40px;
    margin: 0 8px;
  }

  #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }

  #twitter-logo:hover,
  #youtube-logo:hover {
    opacity: 0.8;
  }

  &__search-form {
    @include toolbar;
  }
}

.content {
  display: flex;
  margin: 32px auto 32px;
  padding: 0 16px;
  max-width: 85%;
  flex-direction: column;
  align-items: center;

  :host-context(.mobile) & {
    max-width: 100%;
  }
}

a,
a:visited,
a:hover,
.logout-button {
  display: flex;
  align-items: center;
  gap: 10px;
  color: mat.get-color-from-palette($primary-palette, '100-contrast');
  text-decoration: none;
}

@mixin icon($height, $width) {
  transition-duration: 0.5s;
  position: absolute;
  height: $height;
  width: $width;
  top: 13px;
  background-color: $white;
}

@mixin icon-before($height, $width, $top) {
  transition-duration: 0.5s;
  position: absolute;
  width: $width;
  height: $height;
  background-color: $white;
  content: "";
  top: $top;
}

@mixin icon-after($height, $width, $top) {
  transition-duration: 0.5s;
  position: absolute;
  width: $width;
  height: $height;
  background-color: $white;
  content: "";
  top: $top;
}

$white: rgb(255, 255, 255);

.menu {
  position: relative;
  width: 30px;
  height: 30px;
  transition-duration: 0.5s;
  margin: 0 16px;

  .icon-left {
    @include icon(3px, 15px);
    left: 0;

    &:before{
      @include icon-before(3px, 15px, -13px);
    }

    &:after{
      @include icon-after(3px, 15px, 13px);
    }

    &:hover{
      cursor: pointer;
    }
  }

  .icon-right {
    @include icon(3px, 15px);
    left: 15px;

    &:before{
      @include icon-before(3px, 15px, -13px);
    }

    &:after{
      @include icon-after(3px, 15px, 13px);
    }
  }

  &.open {
    .icon-left {
      transition-duration: 0.5s;
      background: transparent;

      &:before{
        transform: rotateZ(45deg) scaleX(1.4) translate(4px, 4px);
      }

      &:after{
        transform: rotateZ(-45deg) scaleX(1.4) translate(4px, -4px);
      }
    }

    .icon-right {
      transition-duration: 0.5s;
      background: transparent;

      &:before{
        transform: rotateZ(-45deg) scaleX(1.4) translate(-4px, 4px);
      }

      &:after{
        transform: rotateZ(45deg) scaleX(1.4) translate(-4px, -4px);
      }
    }
  }

  &:hover {
    cursor: pointer;
  }
}
