/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: darkgray; }

.mat-mdc-card-header {
  padding: 16px 16px 6px !important;
}

.mat-mdc-card-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mdc-button {
  background: #1976d2 !important;
  color: white !important;
}

li.carousel-slide {
  padding-bottom: 20% !important;
  height: 200px !important;
}

.carousel-slide-content {
  display: flex;
  align-items: center;
}

.carousel-slide-content pinch-zoom {
  height: 100%;
  width: 100%;
}

.carousel .mat-icon {
  color: white !important;
  text-shadow: 1px 1px 5px black !important;
}

.carousel > button:first-of-type {
  left: -5px !important;
}

.carousel > button:last-of-type {
  right: -5px !important;
}

.mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}

.mdc-text-field {
  border-radius: 4px !important;
}


.mat-mdc-form-field {
  color: black;
}
